<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <system.web>
        <compilation defaultLanguage="c#" debug="true" />
        <customErrors mode="Off" />
        <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="false" />
        <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
    <nlog>
        <layout-appenders>
            <add assemblyPartialName="NLog.ASPNet" />
        </layout-appenders>
        
        <appenders>
            <appender name="console" type="Console" layout="${threadname} ${basedir:..}|${processtime}|${logger}|${level:uppercase}|${message}" />
            <appender name="aspnet" type="NLog.ASPNet.Appenders.ASPNetTraceAppender, NLog.ASPNet" />
        </appenders>

        <rules>
            <logger name="*" minlevel="Debug" appendTo="aspnet" />
        </rules>
    </nlog>
</configuration>
