<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <system.web>
        <compilation defaultLanguage="c#" debug="true" />
        <customErrors mode="Off" />
        <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="false" />
        <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
    <nlog>

        <!-- this configuration applies to ASP.NET only, classic ASP configuration can be found in "bin/NLog.dll.nlog" -->

        <targets>
            <appender name="aspnet" type="ASPNetTrace" layout="${level} ${message}" />
            <appender name="memory" type="Memory" layout="id='${aspnet-request:querystring=queryparam}', form='${aspnet-request:form=formvariable}', cookie='${aspnet-request:cookie=cookie1}', servervariable='${aspnet-request:servervariable=URL}' item='${aspnet-request:item=queryparam}' session='${aspnet-session:variable=sv}' app='${aspnet-application:variable=av}' ${message}" />
        </targets>

        <rules>
            <logger name="*" minlevel="Debug" writeTo="aspnet" />
            <logger name="Memory" minlevel="Debug" writeTo="memory" />
        </rules>
    </nlog>
</configuration>
