<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="appSettingTestKey" value="appSettingTestValue"/>
	</appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\config" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>