<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.data>
        <DbProviderFactories>
            <add name="MockDb Provider" invariant="MockDb" description="Mock provider" type="NLog.UnitTests.Targets.DatabaseTargetTests+MockDbFactory, NLog.UnitTests" />
        </DbProviderFactories>
    </system.data>
</configuration>