<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="pc" xsi:type="PerfCounter" categoryName="My category" 
                counterName="My counter" counterType="NumberOfItems32" instanceName="myInstance" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="pc" />
    </rules>
</nlog>
