<?xml version="1.0"?>

<configuration>
  
    <appSettings/>
    <connectionStrings/>
  
    <system.web>
        <compilation debug="true" />
        <authentication mode="Windows" />
        <trace enabled="true"/>

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>

        <httpModules>
            <add name="NLog" type="NLog.Web.NLogHttpModule, NLog"/>
        </httpModules>
    </system.web>
</configuration>
