<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
    <targets>
        <target name="debug" xsi:type="Debug" layout="${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="debug" />
    </rules>
</nlog>
