<?xml version="1.0" ?>
<nlog>
    <targets>
        <target name="pc" type="PerfCounter" categoryName="My category" 
                counterName="My counter" counterType="NumberOfItems32" instanceName="myInstance" />
    </targets>

    <rules>
        <logger name="*" minLevel="Debug" writeTo="pc" />
    </rules>
</nlog>
