.vs/
obj/
bin/
Bin/
msbuild.log
LastTestRunSummary.cmd
src/Docs/Working/
test-results/
*.chw
*.pidb
*.userprefs
log.txt
*.suo
_ReSharper.*
*.ReSharper.user
*.bak
*.csproj.user
*.vcxproj.user
TestResults/
StyleCop.Cache
NLogMerged.api.xml
_UpgradeReport_Files/
UpgradeLog*.XML
*.xap
ipch/
*.sdf
*.opensdf
examples/NLogDemo/logs/
examples/NLogDemo/gmail*.txt
*.ncrunchsolution
*.user
tools/FAKE/
packages/
*.sublime-*
*.DotSettings
*.vshost.*
/.vs
src/NLog/project.lock.json*.vshost.*
**/project.lock.json
artifacts/
nuget/
artifacts/
samples/
tools/packages.config
#ignore results of unit tests
/**/testresults.xml
tests/NLog.UnitTests/*.txt