language: csharp

mono: 5.2.0
dotnet: 2.0.0
dist: xenial


install:
  - nuget install xunit.runner.console -version 2.2.0
  # workaround for missing .net 4.5 targing pack
  - export FrameworkPathOverride=$(dirname $(which mono))/../lib/mono/4.5/
  # Display dotnet version info
  - which dotnet;
    if [ $? -eq 0 ]; then
      echo "Using dotnet:";
      dotnet --info;
    else
      echo "dotnet.exe not found"
      exit 1;
    fi

  # Restore dependencies
  - dotnet restore src/NLog
  - dotnet restore tests/NLogAutoLoadExtension

  - dotnet restore tests/SampleExtensions

  - dotnet restore tests/NLog.UnitTests

script:
  # Run tests
  - dotnet test tests/NLog.UnitTests --configuration Release --framework netcoreapp2.0

  - dotnet msbuild /t:Restore /p:targetframework=net452 /p:monobuild=1 src/NLog
  - dotnet msbuild /t:Restore /p:targetframework=net452 /p:monobuild=1 tests/NLog.UnitTests
  - dotnet msbuild /t:Rebuild /p:targetframework=net452 /p:configuration=Release /p:monobuild=1 tests/NLog.UnitTests
  - mono ./xunit.runner.console.2.2.0/tools/xunit.console.exe "./tests/NLog.UnitTests/bin/Release/net452/NLog.UnitTests.dll"
