language: csharp
dist: "trusty"
matrix:
  include:
    - mono: 2.10.8
      env: MONO_V=MONO2
      solution: src/NLog.mono2.sln
    - mono: latest
      env: MONO_V=MONO4
      solution: src/NLog.mono4.sln

before_script: 
- chmod ugo+x build-mono.sh
- chmod ugo+x $TRAVIS_BUILD_DIR/src/.nuget/NuGet.exe

script: ./build-mono.sh

addons:
  sonarqube: true
  branches:
    - sonarqube
    - master
