
version: 4.4.0-beta{build}
clone_folder: c:\projects\nlog
build_script:
  - ps: .\build.ps1

test_script:
  - ps: .\run-tests.ps1

deploy: off
artifacts:
- path: 'artifacts\*.nupkg'
services:
  - mssql2012sp1
