version: 4.0.{build}
clone_folder: c:\projects\nlog
environment:
  xamarin_email:
    secure: 7v79qwPZ4B1i/0KMpwy5xRdxQO9qzPjtRR0IV+dI83c=
  xamarin_password:
    secure: koh9YQacPXLs0Exxx1dIHIqpDAwg79tKqGUtFIeRqiM=
before_build:
  - appveyor RegisterXamarinLicense -Email %xamarin_email% -Password %xamarin_password% -Product Android
  - appveyor RegisterXamarinLicense -Email %xamarin_email% -Password %xamarin_password% -Product iOS  

build_script:
  - Msbuild.exe src/NLog.proj /verbosity:minimal /t:BuildTests /p:BuildSL5=true /p:BuildSL4=true /p:BuildNetFX35=true /p:BuildNetFX40=true /p:BuildNetFX45=true 
  - Msbuild.exe src/NLog.proj /verbosity:minimal /t:rebuild /p:BuildAllFrameworks=false /p:BuildWP8=true /p:BuildXamarinAndroid=true /p:BuildXamarinIOS=true 
before_test:
  - .\tests\CreateTestUsers.cmd
test_script:
  - xunit.console.clr4 "build\bin\Debug\.NET Framework 3.5\NLog.UnitTests.dll" /appveyor /noshadow
  - xunit.console.clr4 "build\bin\Debug\.NET Framework 4.0\NLog.UnitTests.dll" /appveyor /noshadow
  - xunit.console.clr4 "build\bin\Debug\.NET Framework 4.5\NLog.UnitTests.dll" /appveyor /noshadow
  - nuget.exe install OpenCover -ExcludeVersion
  - dir
  - OpenCover\tools\OpenCover.Console.exe -register:user -target:"%xunit20%\xunit.console.x86.exe" -targetargs:"\"C:\projects\nlog\build\bin\Debug\.NET Framework 4.5\NLog.UnitTests.dll\" -appveyor -noshadow"  -returntargetcode -filter:"+[NLog]* +[NLog.Extended]* -[NLog]JetBrains.Annotations.*" -excludebyattribute:*.ExcludeFromCodeCoverage* -hideskipped:All -output:coverage.xml
  - "SET PATH=C:\\Python34;C:\\Python34\\Scripts;%PATH%"
  - pip install codecov
  - codecov -f "coverage.xml"
  
after_test:
  - .\tests\DeleteTestUsers.cmd
after_build:
  - appveyor UnregisterXamarinLicense -Email %xamarin_email% -Password %xamarin_password%
  - appveyor UnregisterXamarinLicense -Email %xamarin_email% -Password %xamarin_password%

  
deploy: off
# preserve "packages" directory in the root of build folder but will reset it if packages.config is modified
cache:
  - packages -> **\packages.config
