version: $(nuget_version).{build}
environment:
  nuget_version: 4.4
  nuget_patch_version: 1-test

clone_folder: c:\projects\nlog

build_script:                                                                                                                
  - msbuild  src/NLog.proj /verbosity:minimal /t:rebuild /t:xsd /t:NuGetPackage /p:BuildLastMajorVersion=4.0.0 /p:AssemblyFileVersion=$(nuget_version).{build} /p:BuildVersion=$(nuget_version).$(nuget_patch_version) /p:configuration=release /p:BuildLabelOverride=NONE 
  - msbuild  src/NLog.proj /verbosity:minimal /t:BuildTests /p:BuildNetFX35=true /p:BuildNetFX40=true /p:BuildNetFX45=true 
 
test_script:
  - tools\CheckSourceCode\NLog.SourceCodeTests.exe no-interactive
  - xunit.console.clr4 "build\bin\Debug\.NET Framework 3.5\NLog.UnitTests.dll" /appveyor /noshadow
  - xunit.console.clr4 "build\bin\Debug\.NET Framework 4.0\NLog.UnitTests.dll" /appveyor /noshadow
  - xunit.console.clr4 "build\bin\Debug\.NET Framework 4.5\NLog.UnitTests.dll" /appveyor /noshadow
  - nuget.exe install OpenCover -ExcludeVersion
  - OpenCover\tools\OpenCover.Console.exe -register:user -target:"%xunit20%\xunit.console.x86.exe" -targetargs:"\"C:\projects\nlog\build\bin\Debug\.NET Framework 4.5\NLog.UnitTests.dll\" -appveyor -noshadow"  -returntargetcode -filter:"+[NLog]* +[NLog.Extended]* -[NLog]JetBrains.Annotations.*" -excludebyattribute:*.ExcludeFromCodeCoverage* -hideskipped:All -output:coverage.xml
  - "SET PATH=C:\\Python34;C:\\Python34\\Scripts;%PATH%"
  - pip install codecov
  - codecov -f "coverage.xml"
deploy: off
cache:
  - src\packages -> **\packages.config
services:
  - mssql2012sp1

artifacts:
  - path: 'build\bin\release\NuGetPackage\*.nupkg'