version: 4.4.0-Alpha{build}
clone_folder: c:\projects\nlog
branches:
  only:
  - coreCLR
build_script:
  - build-simple.bat
test_script:
  - test-simple.bat


deploy: off
artifacts:
- path: '**\*.nupkg'