version: 5.0.0-{build} # Only change for mayor versions (e.g. 6.0)
image:
  - Visual Studio 2022
  - Ubuntu2004
configuration: Release
build: false
test: false
skip_tags: true
skip_branch_with_pr: true

nuget:
  disable_publish_on_pr: true

matrix:
  fast_finish: true

for:
  -
    matrix:
      only:
        - image: Visual Studio 2022
    init:
        - net start MSSQL$SQL2019
    environment:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      github_auth_token:
        secure: WYvd/k1xGCsDS+4iOhjzxA5/e36RjkxnuVOHpBR+eDtZNNjpYydCyNfd1COME9jI
      sonar_token:
        secure: OUI/jCbBF75TwKMPT+IfewdgwCgx9nQkRg3cYOEQNJeX5J2++oWS3dmpwO51XduP
    build_script:
    - ps: ./build.ps1
    test_script:
    - msbuild /t:rebuild .\tools\CheckSourceCode\src\ /p:Configuration=Release /verbosity:minimal
    - tools\CheckSourceCode\NLog.SourceCodeTests.exe no-interactive
    - ps: if (./Test-XmlFile.ps1) { Write-Output "Valid XSD" } else { exit 400 }
    - ps: ./run-tests.ps1
    deploy:
    - provider: NuGet
      api_key:
        secure: ACKSV1ixxNpO+2k8KvNDy6hd9QmR8lkQmKn773ZIIeVpG0ywYUhY4j8LcyykVR1a
      on:
        branch: master
    - provider: NuGet
      api_key:
        secure: ACKSV1ixxNpO+2k8KvNDy6hd9QmR8lkQmKn773ZIIeVpG0ywYUhY4j8LcyykVR1a
      on:
        branch: dev
    artifacts:
    - path: 'artifacts\*.nupkg'
      type: NuGetPackage
    - path: 'artifacts\*.snupkg'
      type: NuGetPackage

  -
    matrix:
      only:
        - image: Ubuntu2004
    environment:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      FrameworkPathOverride: /usr/lib/mono/4.6.1-api/
    build_script:
    - ps: dotnet --version
    test_script:
    - ps: ./run-tests.ps1
