<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlogviewer" type="NLogViewer.Configuration.ConfigSectionHandler, NLogViewer" />
        <!-- other configSections go here -->
    </configSections>
    <nlogviewer>
        <extensions>
            <assembly name="NLogViewer.NDumbsterSmtpReceiver" />
        </extensions>
    </nlogviewer>
</configuration>
