<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="mail" xsi:type="Mail"
            smtpServer="192.168.0.15" 
            from="jaak@jkowalski.net"
            to="jaak@jkowalski.net"
            subject="test subject" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="mail" />
    </rules>
</nlog>
