<?xml version="1.0" ?>
<nlog>
    <targets>
        <target name="m" type="MethodCall" className="Example, MethodCall" methodName="LogMethod">
            <parameter layout="${level}" />
            <parameter layout="${message}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minLevel="Debug" writeTo="msgbox" />
    </rules>
</nlog>
