body
{
    font-family: Verdana;
    font-size: 80%;
    background-color: #ffffff;
}

h3
{
    font-weight: bold;
    color: #000080;
    font-size: 120%;
}

code
{
    font-size: 12px;
    color: #0000c0;
}

pre.code
{
    background-color: #fffff0;
    border: 1px solid #808080;
    margin-left: 20px;
    padding: 4px;
    font-size: 12px;
    color: #202020;
}

.code, .xml , .script
{
	margin:15px;
	padding:15px;
	font-size: small;
	font-family: "Courier New", Courier;
	background:whitesmoke;
	border: solid 1px silver;
	line-height:110%;
}
.code-xml, .code-csharp
{
	margin:15px;
	padding:15px;
	font-size: small;
	font-family: "Courier New", Courier;
	background:whitesmoke;
	border: solid 1px silver;
	line-height:110%;
}

div.table {
    margin-left: 40px;
    font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
}

.table table {
    font-size: 100%;
    border-collapse: collapse;
    width: 93%;
}

.table th {
    background-color: #eeeeee;
    color: #000080;
    font-weight: bolder;
    padding: 5px;
    border: 1px solid #999999;
    text-align: left;
}

.table td {
    border: 1px solid #999999;
    padding: 5px;
}

.table td.section {
    border: 1px solid #999999;
    background-color: #f0f0e0;
    padding: 5px;
    font-weight: bold;
}
