<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="control" xsi:type="FormControl" append="true" controlName="textBox1" formName="Form1" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="control" />
    </rules>
</nlog>
