<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      
    <extensions>
        <add assembly="NLog.Extensions.Logging"/> <!-- enable MicrosoftConsoleLayout -->
    </extensions>

    <variables>
        <variable name="MaiL.Host" value="localhost"/>
        <variable name="Mail.To" value="jaak@jkowalski.net"/>
    </variables>
    
    <variable name="CommonLayout">
        <layout xsi:type="JsonLayout" includeEventProperties="true">
            <attribute name="area" layout="${gdc:item=area}" />
        </layout>
    </variable>
      
      
    <targets>
        <target name="mail" xsi:type="Mail"
            smtpServer="${Mail.Host}" 
            from="jaak@jkowalski.net"
            to="${Mail.To}"
            subject="test subject" 
            layout="${CommonLayout}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="mail" />
    </rules>
</nlog>
