<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      
    <variables>
        <variable name="logdir" value="${basedir}"/>
    </variables>
    
    <variable name="CommonLayout">
        <layout xsi:type="JsonLayout" includeEventProperties="true">
            <attribute name="area" layout="${gdc:item=area}" />
        </layout>
    </variable>
      
    <targets>
        <target name="logfile" xsi:type="File" fileName="${logdir}/logfile.txt" layout="${commonLayout}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>
