<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="viewer"
            xsi:type="NLogViewer"
            address="tcp://SERVERNAME:PORT"
            includeCallSite="true"
            includeSourceInfo="true">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="viewer" />
  </rules>
</nlog>