<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- configuration contributed by David Maly -->
    
    <targets>
        <target name="database" xsi:type="Database" keepConnection="false" useTransactions="true" dbProvider="oledb"
            connectionString="Provider=msdaora;Data Source=MYORACLEDB;User Id=DBO;Password=MYPASSWORD;"
            commandText="insert into LOGTABLE( TIME_STAMP,LOGLEVEL,LOGGER,CALLSITE,MESSAGE) values(?,?,?,?,?)">
            <parameter name="TIME_STAMP" layout="${longdate}" />
            <parameter name="LOGLEVEL" layout="${level:uppercase=true}" />
            <parameter name="LOGGER" layout="${logger}" />
            <parameter name="CALLSITE" layout="${callsite:filename=true}" />
            <parameter name="MESSAGE" layout="${message}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="database" />
    </rules>
</nlog>
