<?xml version="1.0" ?>
<nlog autoReload="true">

    <!-- configuration contributed by David Maly -->
    
    <targets>
        <target name="database" type="Database" KeepConnection="false" UseTransactions="true">
            <dbprovider>oledb</dbprovider>
            <ConnectionString>Provider=msdaora;Data Source=MYORACLEDB;User Id=DBO;Password=MYPASSWORD;</ConnectionString>
            <commandText>insert into LOGTABLE( TIME_STAMP,LOGLEVEL,LOGGER,CALLSITE,MESSAGE) values(?,?,?,?,?)</commandText>
            <parameter name="TIME_STAMP" layout="${longdate}" />
            <parameter name="LOGLEVEL" layout="${level:uppercase=true}" />
            <parameter name="LOGGER" layout="${logger}" />
            <parameter name="CALLSITE" layout="${callsite:filename=true}" />
            <parameter name="MESSAGE" layout="${message}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" appendTo="database" />
    </rules>
</nlog>
