<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
  <variable name="logDirectory" value="C:/JVP_LOGS" />
  <targets>
    <target name="file" type="File" fileName="${basedir}//${machinename}_TaskService ${shortdate}.log" layout="${longdate}|${level}|[${threadid}]||${message} ${exception:format=tostring}" keepFileOpen="true" concurrentWrites="false" />
  <!--  async="true"
    <target name="file" type="File" fileName="${basedir}//${machinename}_TaskService ${shortdate}.log" layout="${longdate}|${level}|[${threadid}]||${message} ${exception:format=tostring}" keepFileOpen="true" concurrentWrites="false" />
    <target name="console" type="Console" layout="${date:format=HH\:mm\:ss}|${level}|[${ndc}] ${message} ${exception:format=ToString}" />
    <target name="console1" type="Console" layout="${date:format=HH\:mm\:ss}|${level}|[${ndc}] ${message} ${exception:format=ToString}" />
    <target name="console2" type="Console" layout="${date:format=HH\:mm\:ss}|${level}|[${ndc}] ${message} ${exception:format=ToString}" />
    <target name="console3" type="Console" layout="${date:format=HH\:mm\:ss}|${level}|[${ndc}] ${message} ${exception:format=ToString}" />

    <target name="file1" type="File" fileName="${basedir}//${machinename}_Service1 ${shortdate}.log" layout="${longdate}|${level}|[${threadid}]|[${ndc}]|${message} ${exception:format=tostring}" keepFileOpen="true" />
    <target name="file2" type="File" fileName="${basedir}//${machinename}_Service2 ${shortdate}.log" layout="${longdate}|${level}|[${threadid}]|[${ndc}]|${message} ${exception:format=tostring}" keepFileOpen="true" />
    <target name="file3" type="File" fileName="${basedir}//${machinename}_Service3 ${shortdate}.log" layout="${longdate}|${level}|[${threadid}]|[${ndc}]|${message} ${exception:format=tostring}" keepFileOpen="true" />
    <target name="events" type="EventLog" layout="${longdate} ${level:upperCase=true} [${ndc}] ${message} ${exception:format=ToString}" />
    -->
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Fatal" writeTo="events" />
    -->
    <logger name="*" minlevel="Debug" writeTo="file" />
    <!--
    <logger name="0" minlevel="Debug" writeTo="file1" /> 
    <logger name="1" minlevel="Debug" writeTo="file2" />
    <logger name="2" minlevel="Debug" writeTo="file3" />
    <logger name="0" minlevel="Debug" writeTo="console1" />
    <logger name="1" minlevel="Debug" writeTo="console2" />
    <logger name="2" minlevel="Debug" writeTo="console3" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="RuRu.Infrastructure.Messaging.WindowsServiceBus*" minlevel="Trace" writeTo="file" />-->
  </rules>
</nlog>