<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
  <variable name="logDirectory" value="C:/JVP_LOGS" />
  <targets>
    <target name="console" type="Console" layout="${date:format=HH\:mm\:ss}|${level}|[${ndc}] ${message} ${exception:format=ToString}" />
    <!--
    <target name="file" type="File" fileName="${basedir}//${machinename}_TaskService ${shortdate}.log" layout="${longdate}|${level}|[${threadid}]||${message} ${exception:format=tostring}" keepFileOpen="true" concurrentWrites="false" />
    -->
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <!--
    <logger name="*" minlevel="Debug" writeTo="file" />
    -->
  </rules>
</nlog>
