<?xml version="1.0" encoding="windows-1250" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <nlog autoReload="true">
        <targets>
            <target name="console" type="Console" layout="${longdate}|${logger}|${level}|${message}" />
            <target name="file" type="File" filename="${basedir}/log.txt" />
        </targets>
        
        <rules>
            <logger name="*" minlevel="Debug" appendTo="console,file" />
        </rules>
    </nlog>
</configuration>

