<?xml version="1.0" encoding="windows-1250" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <nlog autoReload="true" internalLogToConsole="true">
        <appenders>
            <appender name="console" type="Console" layout="${machinename}|${longdate}|${guid}|${counter:sequence=zzz:padding=10:padcharacter= }|${ndc:separator= -> :bottomframes=1}|${mdc:item=username}|${message}" />
            <appender name="webproc" type="WebServiceCall" methodName="LogMethod" url="http://localhost/webtest/logservice.asmx">
                <parameter type="System.String" layout="${message}" />
            </appender>

            <appender name="logproc" type="MethodCall" className="Test, NLog.Test" methodName="LogProc">
                <parameter type="System.String" layout="${message}" />
            </appender>

            <appender name="database" type="Database">

                <dbprovider>mssql</dbprovider>

                <!-- database connection parameters -->
                <!-- alternatively you could provide a single 'connectionstring' parameter -->
                
                <dbhost>.</dbhost> 
                <dbdatabase>NLogDatabase</dbdatabase>
                <dbusername>nloguser</dbusername>
                <dbpassword>nlogpassword</dbpassword>
                
                <commandText>
                    insert into LogTable(time_stamp,level,logger,message) values(@time_stamp, @level, @logger, @message);
                </commandText>

                <parameter name="@time_stamp" layout="${date}" />
                <parameter name="@level" layout="${level}" />
                <parameter name="@logger" layout="${logger}" />
                <parameter name="@message" layout="${message}" />
            </appender>
        </appenders>

        <rules>
            <logger name="*" minlevel="Debug" appendTo="logproc,webproc" />
        </rules>
    </nlog>
</configuration>
