<?xml version="1.0" encoding="windows-1250" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    
    <nlog autoReload="true" internalLogToConsole="true">
        <targets>
            <target name="xxx" type="SplitGroup">
                <target type="File" filename="log.txt" layout="${performancecounter:category=.NET CLR Memory:counter=Gen 0 heap size:instance=_Global_}" />
            </target>
        </targets>

        <rules>
            <logger name="*" minlevel="Debug" appendTo="xxx" />
        </rules>
    </nlog>
</configuration>

