<?xml version="1.0" encoding="windows-1250" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <nlog autoReload="true">
        <extensions>
            <add assemblyFile="NLog.ASP.dll" />
        </extensions>

        <appenders>
            <appender name="console" type="Console" layout="${machinename}|${longdate}|${message}" />
        </appenders>

        <rules>
            <logger name="*" minlevel="Debug" appendTo="console">
                <filters>
                    <whenContains layout="${message}" substring="error" action="ignore" />
                    <whenContains layout="${message}" substring="to jest" action="log" />
                </filters>
            </logger>
        </rules>
    </nlog>
</configuration>
