<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="server" xsi:type="LogReceiverService" endpointAddress="http://localhost:5000/LogReceiver.svc" />
      <target xsi:type="Console" name="console" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="server,console" />
    </rules>
</nlog>
