<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="n" xsi:type="Trace" layout="${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="n" />
    </rules>
</nlog>
