<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client.es" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core.es" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost.es" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net46" />
</packages>