<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="5.0.0" targetFramework="net472" />
  <package id="NLog.DiagnosticSource" version="1.2.0" targetFramework="net472" />
  <package id="NLog.Extensions.Hosting" version="5.0.0" targetFramework="net472" />
  <package id="NLog.Extensions.Logging" version="5.0.0" targetFramework="net472" />
  <package id="NLog.MailKit" version="4.1.0" targetFramework="net472" />
  <package id="NLog.Owin.Logging" version="1.1.0" targetFramework="net472" />
  <package id="NLog.Web" version="5.0.0" targetFramework="net472" />
  <package id="NLog.Web.AspNetCore" version="5.0.0" targetFramework="net472" />
  <package id="NLog.Windows.Forms" version="4.5.0" targetFramework="net472" />
</packages>