<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation defaultLanguage="c#" debug="true"/>
		<!-- the following line enables ASP.NET trace -->
		<trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<xhtmlConformance mode="Legacy"/></system.web>
</configuration>
