<?xml version="1.0" ?>
<nlog>
    <targets>
        <target name="file" type="File"
            layout="${longdate} ${logger} ${message}" 
            filename="${basedir}/${shortdate}/${windows-identity:domain=false}.${level}.log" />
    </targets>

    <rules>
        <logger name="*" minLevel="Debug" writeTo="file" />
    </rules>
</nlog>
