<?xml version="1.0" encoding="windows-1250" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    
    <nlog autoReload="true" 
          internalLogToConsole="false" 
        xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="file_nokeepopen" 
                xsi:type="File" 
                fileName="${basedir}/file.log" 
                layout="${longdate} pid:${processid} tid:${threadid} msg:${message}"
                networkWrites="true"
                concurrentWriteAttempts="100"
                />
            <target name="file_multiprocess" 
                xsi:type="File" 
                fileName="${basedir}/file.log" 
                layout="${longdate} pid:${processid} tid:${threadid} msg:${message}"
                concurrentWrites="true"
                keepFileOpen="true"
                />
            <target name="file_singleprocess" 
                xsi:type="File" 
                fileName="${basedir}/file_keepopen.log"
                layout="${longdate} pid:${processid} tid:${threadid} msg:${message}"
                concurrentWrites="false"
                keepFileOpen="true"
                />
            <target name="file_nokeepopen_bt" 
                xsi:type="File" 
                fileName="${basedir}/file.${threadid}.log" 
                layout="${longdate} pid:${processid} tid:${threadid} msg:${message}"
                networkWrites="true"
                concurrentWriteAttempts="100"
                />
            <target name="file_multiprocess_bt" 
                xsi:type="File" 
                fileName="${basedir}/file.${threadid}.log" 
                layout="${longdate} pid:${processid} tid:${threadid} msg:${message}"
                concurrentWrites="true"
                keepFileOpen="true"
                />
            <target name="file_singleprocess_bt" 
                xsi:type="File" 
                fileName="${basedir}/file_keepopen.${threadid}.log"
                layout="${longdate} pid:${processid} tid:${threadid} msg:${message}"
                concurrentWrites="false"
                keepFileOpen="true"
                />
            <target name="file_nokeepopen_bt10" 
                xsi:type="File" 
                fileName="${basedir}/file.${threadid}.log" 
                layout="${longdate} pid:${processid} tid:${threadid} msg:${message}"
                networkWrites="true"
                openFileCacheSize="10"
                concurrentWriteAttempts="100"
                />
            <target name="file_multiprocess_bt10" 
                xsi:type="File" 
                fileName="${basedir}/file.${threadid}.log" 
                layout="${longdate} pid:${processid} tid:${threadid} msg:${message}"
                openFileCacheSize="10"
                concurrentWrites="true"
                keepFileOpen="true"
                />
            <target name="file_singleprocess_bt10" 
                xsi:type="File" 
                fileName="${basedir}/file_keepopen.${threadid}.log"
                layout="${longdate} pid:${processid} tid:${threadid} msg:${message}"
                openFileCacheSize="10"
                concurrentWrites="false"
                keepFileOpen="true"
                />
        </targets>

        <rules>
        </rules>
    </nlog>
</configuration>

