<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <languages>
    <language id="1033" codepage="65001" name="0x409 English (United States)" />
    <language id="1028" codepage="950" name="0x404 Chinese (Taiwan)" />
    <language id="1029" codepage="1250" name="0x405 Czech" />
    <language id="1038" codepage="1250" name="0x40e Hungarian" />
    <language id="1041" codepage="932" name="0x411 Japanese" />
    <language id="1042" codepage="949" name="0x412 Korean" />
    <language id="1045" codepage="1250" name="0x415 Polish" />
    <language id="1049" codepage="1251" name="0x419 Russian" />
    <language id="1055" codepage="1254" name="0x41f Turkish" />
    <language id="2052" codepage="936" name="0x804 Chinese (PRC)" />
  </languages>


  <chmTitles>
    <title projectName="Test">Chm Test build</title>
  </chmTitles>
  
  <!-- {0}:projectName, {1}:defaultTopic, {2}:Language, {3}:Title -->
  <hhpTemplate>
    <line>[OPTIONS]</line>
    <!--
    <line>Binary Index=No</line>
    -->
    <line>Compatibility=1.1 or later</line>
    <line>Compiled file={0}.chm</line>
    <line>Contents file={0}.hhc</line>
    <line>Index file={0}.hhk</line>
    <line>Default Topic={1}</line>
    <line>Full-text search=Yes</line>
    <line>Language={2}</line>
    <line>Title={3}</line>

    <line>[FILES]</line>
    <line>icons\*.gif</line>
    <line>art\*.gif</line>
    <line>media\*.gif</line>
    <line>scripts\*.js</line>
    <line>styles\*.css</line>
    <line>html\*.htm</line>
    <line>[INFOTYPES]</line>
  </hhpTemplate>
</configuration>