<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="1028" value="big5"/>
    <add key="3076" value="big5"/>
    <add key="1029" value="Windows-1250"/>
    <add key="1038" value="Windows-1250"/>
    <add key="1045" value="Windows-1250"/>
    <add key="1049" value="Windows-1251"/>
    <add key="1055" value="Windows-1254"/>
    <add key="1041" value="shift-jis"/>
    <add key="1042" value="ks_c_5601-1987"/>
    <add key="2052" value="gb2312"/>
  </appSettings>
</configuration>