<nlog xmlns="http://www.nlog-project.org/schemas/NLog.netfx40.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="c" layout="${level}|${message}|${counter}" fileName="${basedir}/nlogc.out" />
  </targets>
  
  <rules>
      <logger name='*' minlevel='Trace' writeTo='c' />
  </rules>
</nlog>
