<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="receiver"
            xsi:type="LogReceiverService"
            endpointAddress="http://INSERT_SERVER_URL_HERE"
            includeEventProperties="true"
            clientId="${guid:cached=true}">
      <!--
        uncomment to pass additional client-side values to the server
        
        <parameter name="clientNDC" layout="${ndc}" />
        -->
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="receiver" />
  </rules>
</nlog>
