<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${logger} ${message}">
            <highlight-row condition="level &gt;= LogLevel.Error and contains(message,'serious')" foregroundColor="White" backgroundColor="Red" />
            <highlight-row condition="starts-with(logger,'Example')" foregroundColor="Yellow" backgroundColor="DarkBlue" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
</nlog>
