<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="file" xsi:type="BufferingWrapper" bufferSize="100">
            <target xsi:type="PostFilteringWrapper" defaultFilter="level &gt;= LogLevel.Info">
                <target xsi:type="File" fileName="${basedir}/file.txt" />
                <when exists="level &gt;= LogLevel.Warn" filter="level &gt;= LogLevel.Debug"/>
            </target>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>
