<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="c:\Logs\nlog-internal.log" 
	  internalLogLevel="Trace">
	
	<targets>
		<target xsi:type="ColoredConsole" 
				name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" />
	</rules>

</nlog>