ul.config-properties
{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12pt;
}

li.property-group
{
	padding: 0;
	margin: 0;
	margin-top: 1em;
	font-size: 13pt;
	font-weight: bold;
}

ul.config-properties li.config-property
{
	padding: 0.2em 30px;
        margin-left: 10px;
}

div.summary
{
	padding-left: 20px;
}

div.remarks
{
	padding: 10px;
	font-size: 80%;
}

.comment
{
	color: green;
}

.typeName
{
	color: blue;
	padding-left: 6px;
	padding-right: 6px;
}

.defaultValue
{
	font-style: italic;
	text-decoration: underline;
}

.propertyName
{
	font-weight: bold;
}

.usage-example
{
	font-family: Consolas, Courier New;
	font-size: 10pt;
	padding: 10px;
}

.typeplaceholder
{
	font-style: Italic;
	color: #808080;
}

.requiredparameter
{
	font-weight: bold;
}

.alt-syntax
{
	display: none;
}

.supported-icon
{
	margin-right: 2px;
}

.notsupportedin
{
	font-size: 80%;
	margin-left: 50px;
	margin: 10px;
	padding: 10px;
	background-color: #f0f0f0;
}

.notsupportedin h5
{
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}