<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>

  <add key="rootdir"         value="../../../../../"/>  
  <add key="assemblyToCheckPath" value="build/bin/release/.NET Framework 4.5/NLog.dll"/>  
  <add key="projectFolders" value="src/NLog/;src/NLog.Extended/;tests/NLog.UnitTests/;src/NLogAutoLoadExtension/"/>  
  <add key="VerifyFiles.Paths" value="src/NLog;tests/NLog.UnitTests"/>  
  <add key="VerifyFiles.IgnoreFiles" value="AssemblyInfo.cs;AssemblyBuildInfo.cs;GlobalSuppressions.cs;CompilerAttributes.cs;Logger1.cs"/>  
  
</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>