<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="queue" xsi:type="MSMQ"
            layout="${message}" 
            queue=".\private$\nlog"
            encoding="iso-8859-2"
            recoverable="true"
            label="${logger}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="queue" />
    </rules>
</nlog>
