<?xml version="1.0" encoding="windows-1250" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    
    <nlog autoReload="true" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xmlns="http://www.nlog-project.org/schemas/NLog.xsd">

        <extensions>
            <add assembly="NLog.InstantMessengers"/>
        </extensions>
        
        <targets>
            <target name="gg" xsi:type="GaduGadu" uin="9957385" password="123456" recipientUin="4008306" />
            <target name="msn" xsi:type="MSNMessenger"/>
            <target name="n" xsi:type="Network" 
                    address="tcp://localhost:4001" 
                    layout="${log4jxmlevent}"/>
        </targets>

        <rules>
            <logger name="*" writeTo="n" />
        </rules>
    </nlog>
</configuration>

