<?xml version="1.0" encoding="windows-1250" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    
    <nlog autoReload="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
        <targets>
            <target name="ws" xsi:type="WebServiceCall" namespace="http://www.nlog-project.org/ttt.asp" protocol="Soap11" methodName="HelloWorld" url="http://localhost:2648/Service1.asmx">
                <parameter name="n1" type="System.String" layout="${message}"/>
                <parameter name="n2" type="System.String" layout="${logger}"/>
                <parameter name="n3" type="System.String" layout="${level}"/>
            </target>
        </targets>

        <rules>
            <logger name="*" writeTo="ws" />
        </rules>
    </nlog>
</configuration>

