<?xml version="1.0" encoding="windows-1250" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <nlog autoReload="true" internalLogToConsole="true">
        <extensions>
            <add assemblyFile="NLog.DB.dll" />
            <add assemblyFile="NLog.ASP.dll" />
            <add assemblyFile="NLog.Contexts.dll" />
        </extensions>

        <appenders>
            <appender name="console" type="Console" layout="${machinename}|${longdate}|${ndc:separator= -> :bottomframes=1}|${mdc:item=username}|${message}" />
            <appender name="database" type="Database" provider="mssql" dbhost="." dbdatabase="nlogtest" />
        </appenders>

        <rules>
            <logger name="*" minlevel="Debug" appendTo="console" />
        </rules>
    </nlog>
</configuration>
