<?xml version="1.0" encoding="windows-1250" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    
    <nlog autoReload="true" internalLogToConsole="true">
        <targets>
            <target name="xxx" type="BufferingWrapper">
                <target type="PostFilteringWrapper" 
                        defaultFilter="level >= LogLevel.Info">
                    <when exists="contains(message,'aaa')" 
                          filter="level >= LogLevel.Trace" />
                    
                    <target type="Console" layout="${processid} ${processname} ${threadname} ${threadid} ${gdc:item=GGG} ${message} ${logger}" />
                </target>
            </target>
            
        </targets>

        <rules>
            <logger name="*" minlevel="Debug" appendTo="xxx" />
        </rules>
    </nlog>
</configuration>

