<?xml version="1.0" encoding="windows-1250" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <nlog autoReload="true">
        <layout-appenders>
            <add assemblyPartialName="NLog.ASP" />
        </layout-appenders>

        <appenders>
            <appender name="console" type="Console" layout="${machinename}|${asp-session}" />
        </appenders>

        <rules>
            <logger name="*" level="Debug" appendTo="console" />
        </rules>
    </nlog>
</configuration>
