<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="NLogReceiverService.LogReceiverServer">
        <endpoint address="LogReceiver.svc" binding="basicHttpBinding" contract="NLog.LogReceiverService.ILogReceiverServer">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="LogReceiverBin.svc" binding="customBinding" bindingConfiguration ="myBinaryBinding" contract="NLog.LogReceiverService.ILogReceiverServer">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="myBinaryBinding">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>