<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dduetools>
		<platform framework="{@TargetFrameworkIdentifier}" version="{@FrameworkVersion}" />

		<resolver type="Microsoft.Ddue.Tools.Reflection.AssemblyResolver" assembly="{@SHFBFolder}\MRefBuilder.exe" use-gac="false">
			<ignoreIfUnresolved>
				<!-- Ignore the Crystal Reports licensing and Visual Studio test playback assemblies if unresolved -->
				<assemblyIdentity name="BusinessObjects.Licensing.KeycodeDecoder" />
				<assemblyIdentity name="Microsoft.VisualStudio.TestTools.UITest.Playback" />
			</ignoreIfUnresolved>
		</resolver>

		<componentLocations>
			{@ComponentLocations}
		</componentLocations>

		<addins>
			<addin type="Microsoft.Ddue.Tools.ExtensionMethodAddIn" assembly="{@SHFBFolder}\MRefBuilder.exe" />
			<addin type="Microsoft.Ddue.Tools.XamlAttachedMembersAddIn" assembly="{@SHFBFolder}\MRefBuilder.exe" />
		</addins>

		<!-- This defines which members to include in the reflection data based on visibility -->
		<visibility>
			<!-- Include attributes.  When false, certain required attributes will still be included. -->
			<attributes expose="{@DocumentAttributes}" />
			<!-- Include explicit interface implementations -->
			<explicitInterfaceImplementations expose="{@DocumentExplicitInterfaceImplementations}" />
			<!-- Include inherited members -->
			<inheritedMembers expose="{@DocumentInheritedMembers}" />
			<!-- Include inherited framework members.  For this to work, InheritedMembers must also be enabled. -->
			<inheritedFrameworkMembers expose="{@DocumentInheritedFrameworkMembers}" />
			<!-- Include inherited internal framework members.  For this to work Internals and
					 InheritedFrameworkMembers must also be enabled. -->
			<inheritedFrameworkInternalMembers expose="{@DocumentInheritedFrameworkInternalMembers}" />
			<!-- Include inherited private framework members.  For this to work Privates and InheritedFrameworkMembers
					 must also be enabled. -->
			<inheritedFrameworkPrivateMembers expose="{@DocumentInheritedFrameworkPrivateMembers}" />
			<!-- Include internal members -->
			<internals expose="{@DocumentInternals}" />
			<!-- Include private members -->
			<privates expose="{@DocumentPrivates}" />
			<!-- Include private fields.  For this to work, Privates must also be enabled. -->
			<privateFields expose="{@DocumentPrivateFields}" />
			<!-- Include protected members -->
			<protected expose="{@DocumentProtected}" />
			<!-- Include protected members of sealed classes.  For this to work, Protected must also be enabled. -->
			<sealedProtected expose="{@DocumentSealedProtected}" />
			<!-- Include "protected internal" members as "protected" only -->
			<protectedInternalAsProtected expose="{@DocumentProtectedInternalAsProtected}" />
			<!-- Include "no-PIA" COM types, those marked with CompilerGeneratedAttribute and TypeIdentifierAttribute -->
			<noPIATypes expose="{@DocumentNoPIATypes}" />
			<!-- Include public compiler generated types/members -->
			<publicCompilerGenerated expose="{@DocumentPublicCompilerGenerated}" />
		</visibility>

		<attributeFilter expose="true">
			<!-- All attributes in the System namespace are included by default.  However, we need to indicate that for
					 these two attributes, they are required and should never be excluded. -->
			<namespace name="System" expose="true">
				<!-- This is required to document Flags enumerated types -->
				<type name="FlagsAttribute" required="true" />
				<!-- This is required to document obsolete API members -->
				<type name="ObsoleteAttribute" required="true" />
				<!-- This one is required to find parameter array parameters on methods -->
				<type name="ParamArrayAttribute" required="true"/>
				<!-- This one is converted to type metadata so it cannot be excluded -->
				<type name="SerializableAttribute" required="true"/>
			</namespace>
			<!-- Most attributes in System.ComponentModel control designer behavior. Don't show them.
					 The exceptions are attributes relating to data binding. Do show them. -->
			<namespace name="System.ComponentModel" expose="false">
				<type name="BindableAttribute" expose="true"/>
				<type name="BrowsableAttribute" expose="true"/>
				<type name="ComplexBindingPropertiesAttribute" expose="true"/>
				<type name="DataObjectAttribute" expose="true"/>
				<type name="DefaultBindingPropertyAttribute" expose="true"/>
				<type name="ListBindableAttribute" expose="true"/>
				<type name="LookupBindingPropertiesAttribute" expose="true"/>
				<type name="SettingsBindableAttribute" expose="true"/>
				<!-- This is required by the XAML usage syntax component  -->
				<type name="TypeConverterAttribute" required="true"/>
				<!-- These may provide useful information too -->
				<type name="DefaultEventAttribute" expose="true"/>
				<type name="DefaultPropertyAttribute" expose="true"/>
				<type name="DefaultValueAttribute" expose="true"/>
				<type name="DesignerSerializationVisibilityAttribute" expose="true"/>
				<type name="EditorAttribute" expose="true"/>
				<type name="EditorBrowsableAttribute" expose="true"/>
				<type name="ExtenderProvidedProperty" expose="true"/>
				<type name="ProvideProperty" expose="true"/>
			</namespace>
			<namespace name="System.ComponentModel.Design" expose="false" />
			<namespace name="System.ComponentModel.Design.Serialization" expose="false" />
			<!-- Most attributes in System.Diagnostics control debugger behavior. Don't show them. -->
			<namespace name="System.Diagnostics" expose="false">
				<type name="ConditionalAttribute" expose="true"/>
				<type name="EventLogPermissionAttribute" expose="true"/>
				<type name="PerformanceCounterPermissionAttribute" expose="true"/>
			</namespace>
			<!-- Attributes in System.Diagnostics.CodeAnalysis control interaction with FxCop. Don't show them. -->
			<namespace name="System.Diagnostics.CodeAnalysis" expose="false" />
			<!-- Attributes in System.EnterpriseServices control obscure details of COM+ interop. Don't show them. -->
			<namespace name="System.EnterpriseServices" expose="false" />
			<namespace name="System.Reflection" expose="true">
				<!-- The DefaultMember attribute is usually compiler-generated. Users will see it from the member syntax. -->
				<type name="DefaultMemberAttribute" expose="false" />
				<!-- These two are required by the document model transformations -->
				<type name="AssemblyInformationalVersionAttribute" required="true" />
				<type name="AssemblyFileVersionAttribute" required="true" />
			</namespace>
			<!-- Attributes in System.Runtime control obscure details of compilation. Don't show them. -->
			<namespace name="System.Runtime" expose="false" />
			<!-- Attributes in System.Runtime.CompilerServices control obscure details of compilation but there are a
					 couple of required attributes and some that may be useful. -->
			<namespace name="System.Runtime.CompilerServices" expose="false">
				<!-- This is required to document extension methods -->
				<type name="ExtensionAttribute" required="true" />
				<!-- This is required to document fixed buffers -->
				<type name="FixedBufferAttribute" required="true" />
				<!-- These may provide useful information -->
				<type name="CallerFilePathAttribute" expose="true" />
				<type name="CallerLineNumberAttribute" expose="true" />
				<type name="CallerMemberNameAttribute" expose="true" />
				<type name="UnsafeValueTypeAttribute" expose="true" />
			</namespace>
			<!-- Attributes in System.Runtime.ConstrainedExecution control obscure details of compilation. Don't show them. -->
			<namespace name="System.Runtime.ConstrainedExecution" expose="false" />
			<!-- Most attributes in System.Runtime.InteropServices control obscure details of COM interop but there are
					 some that are useful. -->
			<namespace name="System.Runtime.InteropServices" expose="false">
				<type name="ClassInterfaceAttribute" expose="true"/>
				<!-- This one is converted to type metadata so it cannot be excluded -->
				<type name="ComImportAttribute" required="true"/>
				<type name="ComVisibleAttribute" expose="true"/>
				<type name="DispIdAttribute" expose="true" />
				<!-- This one is converted to method metadata so it cannot be excluded -->
				<type name="DllImportAttribute" required="true"/>
				<!-- This one is converted to method metadata so it cannot be excluded -->
				<type name="FieldOffsetAttribute" required="true"/>
				<type name="GuidAttribute" expose="true"/>
				<type name="InterfaceTypeAttribute" expose="true"/>
				<!-- This is required to document optional parameters -->
				<type name="OptionalAttribute" required="true" />
				<!-- This one is converted to method metadata so it cannot be excluded -->
				<type name="PreserveSigAttribute" required="true"/>
				<!-- This one is converted to type metadata so it cannot be excluded -->
				<type name="StructLayoutAttribute" required="true"/>
				<type name="TypeIdentifierAttribute" expose="true" />
			</namespace>
			<!-- Attributes in System.Runtime.Versioning control details of resource loading. Don't show them. -->
			<namespace name="System.Runtime.Versioning" expose="false" />
			<!-- Attributes in System.Security might hint at security implementation details. Don't show them. -->
			<namespace name="System.Security" expose="false">
				<type name="SecurityCriticalAttribute" expose="true" />
				<type name="SecurityTreatAsSafeAttribute" expose="true" />
				<!-- This is required by the document model transformations  -->
				<type name="AllowPartiallyTrustedCallersAttribute" required="true" />
			</namespace>
			<!-- Attributes in System.Security.Permissions might hint at security implementation details. Don't show them. -->
			<namespace name="System.Security.Permissions" expose="false">
				<!-- This is required by the presentation styles  -->
				<type name="HostProtectionAttribute" required="true" />
			</namespace>
			<!-- Attributes in System.Web.Compilation control interaction with the Expression designer. Don't show them. -->
			<namespace name="System.Web.Compilation" expose="false" />
			<!-- The ASP.NET team only wants these attributes exposed from their namespace. -->
			<namespace name="System.Web.UI" expose="false">
				<type name="ControlValuePropertyAttribute" expose="true"/>
				<!-- This is required by the ASP.NET syntax component -->
				<type name="PersistenceModeAttribute" required="true" />
				<type name="ValidationPropertyAttribute" expose="true"/>
				<type name="WebResourceAttribute" expose="true"/>
				<type name="TemplateContainerAttribute" expose="true"/>
				<type name="ThemeableAttribute" expose="true"/>
				<type name="TemplateInstanceAttribute" expose="true"/>
			</namespace>
			<!-- Don't show attributes related to XAML serialization details. -->
			<namespace name="System.Windows.Markup" expose="true">
				<!-- This is required by the XAML syntax data transformation -->
				<type name="ContentPropertyAttribute" required="true" />
				<type name="ConstructorArgumentAttribute" expose="false" />
				<type name="DependsOnAttribute" expose="false" />
				<type name="DesignerSerializationOptionsAttribute" expose="false" />
				<type name="ValueSerializerAttribute" expose="false" />
				<type name="XmlnsCompatibleWithAttribute" expose="false" />
				<type name="XmlnsDefinitionAttribute" expose="false" />
				<type name="XmlnsPrefixAttribute" expose="false" />
			</namespace>
			<!-- The GeneratedCodeAttribute is useful only to tools, and should be hidden from end users.-->
			<namespace name="System.CodeDom.Compiler" expose="true">
				<type name="GeneratedCodeAttribute" expose="false" />
			</namespace>
		</attributeFilter>

		{@ApiFilter}
	</dduetools>
</configuration>
