html, body
{
    margin: 0px;
    background-color: white;
    color: black;
    font-family: Verdana;
    font-size: 11px;
}

h1
{
    font-size: 19px;
}

h2
{
    margin-top: 30px;
    font-size: 14pt;
    font-weight: bold;
}

h5
{
    margin-top: 30px;
    font-size: 12pt;
    font-weight: bold;
}

h6
{
    font-size: 10pt;
    font-weight: bold;
}

td.nav
{
    font-family: Trebuchet MS, Arial, Helv;
    font-size: 13px;
    font-style: normal;
    padding: 3px;
    width: 150px;
}

a
{
    color: blue;
    background-color: inherit;
}

a:link
{
    color: blue;
    background-color: inherit;
}

a:visited
{
    color: blue;
    background-color: inherit;
}

a:hover
{
    color: blue;
    background-color: inherit;
}

div.titleimage
{
    overflow: hidden;
    width: 100%;
    height: 83px;
    background-image: url(title.png);
}

span.path
{
    font-family: Courier New;
    color: #404080;
    font-size: 100%;
    font-weight: bold;
}

span.code
{
    font-family: Courier New;
    color: #404080;
    font-size: 100%;
    font-weight: bold;
}

span.sql
{
    font-family: Courier New;
    color: #0000ff;
    font-size: 100%;
    font-weight: bold;
}

span.class
{
    font-family: Courier New;
    color: #0000c0;
    font-size: 100%;
    font-weight: bold;
}

li
{
    /* font-weight: bold; */
    color: black;
}

span.keyword
{
    color: blue;
}

span.string
{
    color: #c00000;
}

span.operator
{
    color: #404040;
}

span.number
{
    color: #ff00ff;
}

span.type
{
    color: #008000;
    font-weight: bold;
}

span.xmlattribute
{
    color: #ff0000;
}

span.xmlattribtext
{
    color: #0000ff;
}

span.xmlbracket
{
    color: #0000ff;
}

span.xmlelement
{
    color: #800000;
}

span.xmlcomment
{
    color: #008000;
    font-style: italic;
}

a.nav
{
    display: block;
    font-family: Tahoma, Arial, Helv;
    font-style: normal;
    font-weight: bold;
    color: #202040;
    margin: 1px;
    width: 150px;
    cursor: pointer; cursor: hand;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
}

a.nav:visited
{
    color: black;
}

a.nav:hover
{
    color: blue;
}

a.nav_selected
{
    display: block;
    font-family: Tahoma, Trebuchet MS, Arial, Helv;
    font-style: normal;
    font-weight: bold;
    color: #805020;
    margin: 1px;
    margin-left: 4px;
    cursor: pointer; cursor: hand;
    text-decoration: none;
}

a.nav_selected:visited
{
    color: black;
}

a.nav_selected:hover
{
    color: blue;
}

a.subnav
{
    display: block;
    font-family: Trebuchet MS, Arial, Helv;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #202040;
    margin: 1px;
    cursor: pointer; cursor: hand;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
}

td.subnav_spacer
{
    width: 10px;
}

a.subnav:visited
{
    color: black;
}

a.subnav:hover
{
    background-color: #f0f0f0;
}

a.subnav_selected
{
    display: block;
    font-family: Trebuchet MS, Arial, Helv;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: black;
    border: 1px solid #d0d0d0;
    background-color: #ABC8E5;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer; cursor: hand;
    text-decoration: none;
}

a.subnav_selected:visited
{
    color: black;
}

a.subnav_selected:hover
{
    color: red;
}

td.nav
{
}

td.nav_selected
{
    background-color: #DFEAF5;
    border: 1px solid #e0e0e0;
    padding-left: 4px;
    padding-right: 4px;
    width: 150px;
    font-size: 13px;
}

td.titledesc
{
    font-family: Verdana;
    font-size: 12px;
    vertical-align: bottom;
    padding-bottom: 10px;
    padding-right: 10px;
}

img.thinborder
{
    border: 1px solid #404040;
}

td.header
{
    margin-bottom: 0px;
    height: 80px;
}

td.content
{
    font-family: Trebuchet MS, Arial, Helv;
    font-size: 10pt;
    padding: 20px;
    padding-right: 20px;
    width: 100%;
    text-align: left;
    background-color: white;
}

td.controls
{
    padding: 6px;
    width: 170px;
    background-color: #F2F7FC;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

table.page
{
    /* border: 1px solid #404060; */
}

tr.spacer
{
    height: 10px;
}


td.copyright
{
    background-color: white;
    padding: 4px;
    font-size: 11px;
    text-align: center;
    font-family: Trebuchet MS, Arial, Helv;
}


td.hostedby
{
    background-color: #F2F7FC;
    padding: 4px;
    border-right: 1px solid #c0c0c0;
}

td.newsdate
{
    width: 100px;
    vertical-align: top;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    padding: 4px;
}

td.newstext
{
    font-family: Trebuchet MS, Arial, Helv;
    font-size: 13px;
    padding: 4px;
}

code
{
    color: #000080;
}

.table table {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    font-size: 13px;
    background-color: white;
    width: 100%;
}

.table td {
    border: 1px solid #c0c0c0;
    margin: 0px;
}

.table th {
    border: 1px solid #c0c0c0;
    background-color: #efe8e8;
    margin: 0px;
}

.noborder table {
    font-size: 13px;
}

.noborder td {
    margin: 4px;
    padding: 4px;
}

.table tr.alternate
{
    background-color: #fff0f0;
}

div.summarytable
{
    font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
}

.summarytable table {
    font-size: 100%;
    width: 100%%;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid #e0e0c0;
}

.summarytable th {
    font-weight: bold;
    width: 25%;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 15px;
    text-align: left;
}

.summarytable td {
    padding: 1px;
    padding-right: 15px;
}

.summarytable td.section {
    border: 1px solid #999999;
    background-color: #f0f0e0;
    padding: 5px;
    font-weight: bold;
}

.summarytable tr.appender {
    background-color: #f8f8f8;
}

table.submenu
{
}

.benchmark-winner
{
    background-color: #ffffb0;
}

td.label
{
    font-weight: bold;
    vertical-align: top;
    font-size: 11px;
}

td.description
{
    vertical-align: top;
    font-size: 11px;
}

.missing
{
    color: red;
}

code.config
{
    background-color: white;
    display: block;
    border: 1px solid #e0e0e0;
    padding: 4px;
}

.acceptslayout
{
    font-family: Tahoma;
    font-size: 11px;
    background-color: yellow;
    border: 1px solid #e0e000;
    margin-right: 4px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: normal;
}

.acceptscondition
{
    font-family: Tahoma;
    font-size: 11px;
    background-color: yellow;
    border: 1px solid #e0e000;
    margin-right: 4px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: normal;
}

.required
{
    font-weight: bold;
    color: blue;
    text-decoration: none;
}

pre.example
{
    background-color: #f0f0f0;
    /* border: 1px solid #c0c0f0; */
    color: black;
    padding: 4px;
    font-size: 9pt;
    white-space: -moz-pre-wrap;  /* Mozilla, supported since 1999 */
    white-space: -pre-wrap;      /* Opera 4 - 6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* CSS3 - Text module (Candidate Recommendation) */
    word-wrap: break-word;       /* IE 5.5+ */
    width: 100%;
}

pre.example code
{
    white-space: -moz-pre-wrap;  /* Mozilla, supported since 1999 */
    white-space: -pre-wrap;      /* Opera 4 - 6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* CSS3 - Text module (Candidate Recommendation) */
    word-wrap: break-word;       /* IE 5.5+ */
    font-family: Courier New;
    color: black;
}

.subexample
{
    padding-left: 50px;
}

.subremarks
{
    padding-left: 50px;
}

.propertyheader
{
    padding-top: 2px;
    padding-bottom: 2px;
    display: block;
}

.propertydetails
{
    display: block;
}

table.paramtable
{
    border-collapse: collapse;
    background-color: #ffffe0;
    width: 100%;
}

table.subparamtable
{
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #000000;
}

table.paramtable th
{
    color: black;
    border: 1px solid #b0b0b0;
    background-color: #ffff80;
    font-size: 14px;
}

table.subparamtable th
{
    color: black;
    border: 1px solid #b0b0b0;
    background-color: #ffff90;
    font-size: 12px;
}

td.parametername
{
    border: 1px solid #b0b0b0;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-size: 9pt;
}

td.parametertype
{
    border: 1px solid #b0b0b0;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-size: 9pt;
}

td.parametervalue
{
    border: 1px solid #b0b0b0;
    text-align: left;
    vertical-align: top;
    font-size: 9pt;
    white-space: -moz-pre-wrap;  /* Mozilla, supported since 1999 */
    white-space: -pre-wrap;      /* Opera 4 - 6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* CSS3 - Text module (Candidate Recommendation) */
    word-wrap: break-word;       /* IE 5.5+ */
}

td.parametervalue2
{
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-size: 9pt;
    white-space: -moz-pre-wrap;  /* Mozilla, supported since 1999 */
    white-space: -pre-wrap;      /* Opera 4 - 6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* CSS3 - Text module (Candidate Recommendation) */
    word-wrap: break-word;       /* IE 5.5+ */
}

td.subheader
{
    background-color: #ffffA0;
    border: 1px solid #b0b0b0;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
}

hr
{
    color: #0000ff;
    height: 1px;
}

table.listtable
{
    border-collapse: collapse;
    background-color: #ffffe0;
}

.listtable th
{
    color: black;
    border: 1px solid #b0b0b0;
    background-color: #ffff80;
    font-size: 14px;
    padding: 2px;
}

.listtable td
{
    border: 1px solid #b0b0b0;
    padding: 4px;
    text-align: center;
    vertical-align: center;
    font-size: 12px;
}

.listtable td.name
{
    border: 1px solid #b0b0b0;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
}

.listtable td.description
{
    border: 1px solid #b0b0b0;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
}

table.definedin
{
    font-size: 12px;
    border-collapse: collapse;
}

.definedin td
{
    margin: 0px;
    padding: 4px;
    border: 1px solid #c0c0c0;
}

#googleads
{
    position: absolute;
    top: 90px;
    right: 10px;
}

.underconstruction
{
    color: black;
    font-size: 12px;
    display: block;
    padding: 4px;
    background-color: #ffffc0;
    border: 1px solid #ffc0c0;
}

#googlesearch
{
    position: absolute;
    top: 4px;
    right: 10px;
}

.lastupdated
{
    margin-top: 4px;
    font-size: 10px;
    padding: 2px;
    border: 1px solid #c0c0c0;
    background-color: white;
    color: black;
}

.altreleasenote
{
    background-color: #e0e0ff;
}

.releasenote
{
    background-color: #c0c0ff;
}

img.out_link
{
    margin-left: 4px;
}

.plaincontent
{
    padding: 10px;
}

@media print
{
    .controls
    {
        display: none;
    }
    #googlesearch
    {
        display: none;
    }
    #counterCode
    {
        display: none;
    }
}

a.download
{
    width: 255px;
    height: 32px;
    background-image: url(download_now.png);
}

a.download:hover
{
    background-image: url(download_now_h.png);
}

.download span
{
    display: none;
}