<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpModules>
      <add name="nlog" type="NLog.Web.NLogHttpModule, NLog.Extended" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="nlog" type="NLog.Web.NLogHttpModule, NLog.Extended" />
    </modules>
  </system.webServer>
</configuration>