
/* syntax styles */

div.code span.identifier {
	font-weight: bold;
}

div.code span.keyword {
	color: #0000ff;
}

div.code span.parameter {
	font-style: italic;
}

div.code span.literal {
	color: #a31515;
}

div.code span.comment {
	color: #007f00;
}
