<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="file" xsi:type="FallbackGroup" returnToFirstOnSuccess="false">
            <target xsi:type="File" fileName="\\server1\share\file1.txt" />
            <target xsi:type="File" fileName="\\server2\share\file1.txt" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>
