<?xml version="1.0" encoding="windows-1250" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    
    <nlog autoReload="true" internalLogToConsole="false">
        <targets>
            <target name="sync_network" type="Network" address="tcp://fw.home.lan:5000" newline="true" />
            <target name="async_network" type="Network" address="tcp://fw.home.lan:5000" newline="true" async="true" />
            
            <target name="sync_file" type="File" fileName="file0.log" />
            <target name="sync_file_keepopen" type="File" fileName="file1.log" concurrentWrites="false" keepFileOpen="true" />

            <target name="async_file_none" type="File" fileName="file2.log" newline="true" async="true" queuelimit="1000" overflowAction="none" />
            <target name="async_file_discard" type="File" fileName="file2.log" newline="true" async="true" queuelimit="1000" overflowAction="discard" />
            <target name="async_file_block" type="File" fileName="file2.log" newline="true" async="true" queuelimit="1000" overflowAction="block" />
            
            <target name="async_file_none_10000" type="File" fileName="file2.log" newline="true" async="true" queuelimit="10000" overflowAction="none" />
            <target name="async_file_discard_10000" type="File" fileName="file2.log" newline="true" async="true" queuelimit="10000" overflowAction="discard" />
            <target name="async_file_block_10000" type="File" fileName="file2.log" newline="true" async="true" queuelimit="10000" overflowAction="block" />
            
            <target name="sync_multifile" type="File" fileName="file${threadid}.log" />
            <target name="sync_multifile_keepopen" type="File" fileName="file${threadid}.log" concurrentWrites="false" keepFileOpen="true" />

            <target name="async_multifile_none" type="File" fileName="file${threadid}.log" newline="true" async="true" queuelimit="1000" overflowAction="none" />
            <target name="async_multifile_discard" type="File" fileName="file${threadid}.log" newline="true" async="true" queuelimit="1000" overflowAction="discard" />
            <target name="async_multifile_block" type="File" fileName="file${threadid}.log" newline="true" async="true" queuelimit="1000" overflowAction="block" />
            
            <target name="async_multifile_none_10000" type="File" fileName="file${threadid}.log" newline="true" async="true" queuelimit="10000" overflowAction="none" />
            <target name="async_multifile_discard_10000" type="File" fileName="file${threadid}.log" newline="true" async="true" queuelimit="10000" overflowAction="discard" />
            <target name="async_multifile_block_10000" type="File" fileName="file${threadid}.log" newline="true" async="true" queuelimit="10000" overflowAction="block" />
        </targets>

        <rules>
            <logger name="sync_network" minlevel="Debug" appendTo="sync_network" />
            <logger name="async_network" minlevel="Debug" appendTo="async_network" />
            
            <logger name="sync_file" minlevel="Debug" appendTo="sync_file" />
            <logger name="sync_file_keepopen" minlevel="Debug" appendTo="sync_file_keepopen" />
            <logger name="async_file_none" minlevel="Debug" appendTo="async_file_none" />
            <logger name="async_file_block" minlevel="Debug" appendTo="async_file_block" />
            <logger name="async_file_discard" minlevel="Debug" appendTo="async_file_discard" />
            <logger name="async_file_none_10000" minlevel="Debug" appendTo="async_file_none_10000" />
            <logger name="async_file_block_10000" minlevel="Debug" appendTo="async_file_block_10000" />
            <logger name="async_file_discard_10000" minlevel="Debug" appendTo="async_file_discard_10000" />

            <logger name="sync_multifile" minlevel="Debug" appendTo="sync_multifile" />
            <logger name="sync_multifile_keepopen" minlevel="Debug" appendTo="sync_multifile_keepopen" />
            <logger name="async_multifile_none" minlevel="Debug" appendTo="async_multifile_none" />
            <logger name="async_multifile_block" minlevel="Debug" appendTo="async_multifile_block" />
            <logger name="async_multifile_discard" minlevel="Debug" appendTo="async_multifile_discard" />
            <logger name="async_multifile_none_10000" minlevel="Debug" appendTo="async_multifile_none_10000" />
            <logger name="async_multifile_block_10000" minlevel="Debug" appendTo="async_multifile_block_10000" />
            <logger name="async_multifile_discard_10000" minlevel="Debug" appendTo="async_multifile_discard_10000" />
        </rules>
    </nlog>
</configuration>

