<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="eventlog" xsi:type="EventLog" layout="${logger}: ${message}" source="My Source" log="Application" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="eventlog" />
    </rules>
</nlog>
