<nlog internalLogToBrowserConsole="true" internalLogLevel="Trace">
  <targets>
    <target name="result" type="BufferingWrapper" bufferSize="100" flushTimeout="1000" slidingTimeout="false">
      <target type="FallbackGroup">
        <target type="LogReceiverService" endpointAddress="http://localhost:8000/LogReceiverBin.svc" clientID="${guid:cached=true}" useBinaryEncoding="true">
          <parameter name="message" layout="${message}" />
          <parameter name="cs" layout="${callsite}" />
          <parameter name="ndc" layout="${ndc}" />
          <parameter name="documenturi" layout="${document-uri}" />
          <parameter name="guid" layout="${guid}" />
        </target>
      </target>
    </target>
    <target name="network" type="Network" address="tcp://localhost:4505/" newLine="true">
    </target>
  </targets>
  <rules>
    <logger name="*" writeTo="network" />
  </rules>
</nlog>
