<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Microsoft.Ddue.Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<!-- If you get an HTTP status 407 or 417 error, try one of the following methods to configure BuildAssember
	     to work with your proxy server so that it can contact the MSDN web service to resolve framework reference
			 links. -->

	<!-- Method 1 (this works most often so try it first) -->
	<!--	
	<system.net>
		<defaultProxy useDefaultCredentials="true">
			<proxy usesystemdefault="true"/>
		</defaultProxy>
	</system.net>
	-->

	<!-- Method 2 (update the URL for your proxy) -->
	<!--
	<system.net>
		<defaultProxy enabled="true" useDefaultCredentials="true">
			<proxy bypassonlocal="true" proxyaddress="http://yourproxy:8080" />
		</defaultProxy>
	</system.net>
	-->

	<!-- Method 3 (update the URL for your proxy) -->
	<!--
	<system.net>
		<defaultProxy useDefaultCredentials="true">
			<proxy scriptLocation="http://your.server.com/proxy.pac" usesystemdefault="true" />
		</defaultProxy>
	</system.net>
	-->

	<!-- Add this element just after the defaultProxy element in the system.net section above if you get an
			 HTTP 417 error. -->
	<!--	
		<settings>
			<servicePointManager expect100Continue="false" />
		</settings>
	-->

	<applicationSettings>
		<Microsoft.Ddue.Tools.Properties.Settings>
			<setting name="BuildComponents_MtpsContentService_ContentService" serializeAs="String">
				<value>http://services.msdn.microsoft.com/ContentServices/ContentService.asmx</value>
			</setting>
		</Microsoft.Ddue.Tools.Properties.Settings>
	</applicationSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
