<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- The reflection information file to use -->
  <reflectionInfo file="..\..\..\TestCaseProject\Doc\Help\Working\reflection.org" />

  <!-- The inherited documentation output filename -->
  <inheritedDocs file="..\..\..\TestCaseProject\Doc\Help\Working\_InheritedDocs_.xml" />

  <!-- This is used to see duplicate comment key warnings. They can usually
       be ignored.  Comment this element out to suppress them. -->
  <showDuplicateWarning />

  <!-- The XML comments file list.  The "cacheSize" attribute represents the
       size of the index cache (the maximum number of XML comments files in
       memory). -->
  <commentsFiles cacheSize="100">
    <!-- The <import> elements represent XML comments files that act as a
         source for inherited documentation but are not themselves scanned for
         <inheritdoc /> tags.  The <scan> elements represent files that will
         be scanned for the tags and can also contain inherited documentation.
         For both, a "path" and/or "file" attribute can be specified.  The
         "path" attribute is used to indicate that all XML files in the folder
         should be included.  An optional "recurse" attribute can be used to
         indicate whether or not sub-folders are also search for comments
         files.  Use a "file" attribute to specify an individual comments
         file or, when used with "path", the wildcard to match. -->

    <!-- Base .NET Framework XML comments files. -->
    <import path="%ProgramFiles(x86)%\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.0\" />
    <import path="%ProgramFiles(x86)%\Reference Assemblies\Microsoft\FSharp\2.0\Runtime\v4.0\" />

    <!-- Project XML comments files to scan. -->
    <scan file="..\..\..\TestCaseProject\Doc\Help\Working\ExtraComments.xml" />
    <scan file="..\..\..\TestCaseProject\Doc\Help\Working\TestDoc.xml" />
  </commentsFiles>
</configuration>
