<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SandcastleBuilder.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SandcastleBuilder.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SandcastleBuilder.Gui.Properties.Settings>
            <setting name="AuthorEMailAddress" serializeAs="String">
                <value>Eric@EWoodruff.us</value>
            </setting>
            <setting name="EWoodruffURL" serializeAs="String">
                <value>http://www.EWoodruff.us</value>
            </setting>
            <setting name="ProjectURL" serializeAs="String">
                <value>https://GitHub.com/EWSoftware/SHFB</value>
            </setting>
        </SandcastleBuilder.Gui.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SandcastleBuilder.Gui.Properties.Settings>
            <setting name="SettingsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerboseLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ASPNETDevServerPort" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="OpenHelpAfterBuild" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastConfig" serializeAs="String">
                <value>Debug</value>
            </setting>
            <setting name="LastPlatform" serializeAs="String">
                <value>AnyCPU</value>
            </setting>
            <setting name="ContentEditorDockState" serializeAs="String">
                <value/>
            </setting>
            <setting name="BuildOutputBackground" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="BuildOutputForeground" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="BuildOutputFont" serializeAs="String">
                <value>Courier New, 7.8pt</value>
            </setting>
            <setting name="TextEditorFont" serializeAs="String">
                <value>Courier New, 10.2pt</value>
            </setting>
            <setting name="BeforeBuild" serializeAs="String">
                <value>SaveOpenDocuments</value>
            </setting>
            <setting name="ShowLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnterMatching" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MSHelpViewerPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="PerUserProjectState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUsedPropertyPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowPlacement" serializeAs="Xml">
                <value>
                    <WINDOWPLACEMENT xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <length>0</length>
                        <flags>0</flags>
                        <showCmd>0</showCmd>
                        <ptMinPosition_x>0</ptMinPosition_x>
                        <ptMinPosition_y>0</ptMinPosition_y>
                        <ptMaxPosition_x>0</ptMaxPosition_x>
                        <ptMaxPosition_y>0</ptMaxPosition_y>
                        <rcNormalPosition_left>0</rcNormalPosition_left>
                        <rcNormalPosition_top>0</rcNormalPosition_top>
                        <rcNormalPosition_right>0</rcNormalPosition_right>
                        <rcNormalPosition_bottom>0</rcNormalPosition_bottom>
                    </WINDOWPLACEMENT>
                </value>
            </setting>
        </SandcastleBuilder.Gui.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
