<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Language elements.  The "id" attribute refers to the locale ID (LCID).
       The "codepage" attribute is the code page to use when determining the
       encoding for the files based on the given locale ID.  The "charset"
       attribute value will be written to the HTML files in place of the UTF-8
       value when localizing the files for use with the HTML Help 1 compiler. -->
  <languages>
    <language id="1028" codepage="950" charset="big5"/>
    <language id="1029" codepage="1250" charset="Windows-1250"/>
    <language id="1031" codepage="1252" charset="Windows-1252"/>
    <language id="1033" codepage="65001" charset="UTF-8" />
    <language id="1034" codepage="1252" charset="Windows-1252"/>
    <language id="1036" codepage="1252" charset="Windows-1252"/>
    <language id="1038" codepage="1250" charset="Windows-1250"/>
    <language id="1040" codepage="1252" charset="Windows-1252"/>
    <language id="1041" codepage="932" charset="shift-jis"/>
    <language id="1042" codepage="949" charset="ks_c_5601-1987"/>
    <language id="1045" codepage="1250" charset="Windows-1250"/>
    <language id="1046" codepage="1252" charset="Windows-1252"/>
    <language id="1049" codepage="1251" charset="Windows-1251"/>
    <language id="1055" codepage="1254" charset="Windows-1254"/>
    <language id="2052" codepage="936" charset="gb2312"/>
    <language id="3076" codepage="950" charset="big5"/>
  </languages>
</configuration>
