<?xml version="1.0" ?>
<nlog>
    <targets>
        <target name="console" type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${logger} ${message}">
            <highlight-row condition="level &gt;= LogLevel.Error and contains(message,'serious')" foregroundColor="White" backgroundColor="Red" />
            <highlight-row condition="starts-with(logger,'Example')" foregroundColor="Yellow" backgroundColor="DarkBlue" />
        </target>
    </targets>

    <rules>
        <logger name="*" minLevel="Trace" writeTo="console" />
    </rules>
</nlog>
