<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- comment -->
    <configSections>
        <!-- comment -->
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>

  <!-- comment -->
  <system.web />

  <!-- comment -->
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true"
           internalLogFile="NlogErr.txt" internalLogLevel="Trace">
      <!-- comment -->
        <targets>
          <!-- comment -->
          <target xsi:type="Console" layout="foo ${message}" name="n" />
          <!-- comment -->
        </targets>
        
      <!-- comment -->
        <rules>
          <!-- comment-->
            <logger name="*" minlevel="Debug" writeTo="n" />
          <!-- comment -->
        </rules>
      <!-- comment -->
    </nlog>
  <!-- comment -->
</configuration>