<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <system.web />

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true"
         internalLogFile="NlogErr.txt" internalLogLevel="Trace" internalLogToConsole="true">
    <targets async="true">
      <target xsi:type="PostFilteringWrapper" name="x">
        <target xsi:type="Console" layout="${message}" name="xx"/>
        <when exists="level >= LogLevel.Info and contains('xxx${message}zzz','foo')" filter="level >= LogLevel.Info" />
      </target>
      <target xsi:type="Console" layout="foo ${message}" name="n" />
      <target xsi:type="Database" name="fo" connectionString="foo" commandText="Foo">
        <parameter name="A" layout="$(message}" />
      </target>
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="n,fo,x" />
    </rules>
  </nlog>
</configuration>