<?xml version="1.0" encoding="windows-1250" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    
    <nlog autoReload="true" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xmlns="http://www.nlog-project.org/schemas/NLog.xsd">

        <targets>
            <target name="n" xsi:type="Network" address="udp://localhost:4000">
                <layout xsi:type="Log4JXmlEventLayout"/>
            </target>
        </targets>

        <rules>
            <logger name="*" writeTo="n" />
        </rules>
    </nlog>
</configuration>

