
html, body
{
    margin: 0px;
    background-color: #c0c0c0;
    color: black;
    font-family: Segoe UI, Verdana;
    font-size: 12pt;
}

#header
{
}

#page
{
	background-color: #ffffff;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
	margin-bottom: 16px;
	border: 1px solid #a0a0a0;
}

#content
{
	margin-left: 200px;
	padding-right: 20px;
	padding-left: 20px;
	border-left: 2px solid #FE7206;
}

#logo
{
	padding: 8px;
}

#footer
{
	clear: both;
	text-align: center;
	padding: 10px;
}

#menu
{
	float: left;
	font-size: 14pt;
	text-align: right;
}

#menu ul
{
	list-style: none;
	margin: 0;
	padding: 16px;
	width: 170px;
}

#menu a
{
	color: black;
	text-decoration: none;
}

#menu li.selected a
{
	font-weight: bold;
}


h1
{
    font-size: 19px;
}

h2
{
    margin-top: 30px;
    font-size: 14pt;
    font-weight: bold;
}

h5
{
    margin-top: 30px;
    font-size: 12pt;
    font-weight: bold;
}

h6
{
    font-size: 10pt;
    font-weight: bold;
}

a
{
    color: blue;
    background-color: inherit;
}

a:link
{
    color: blue;
    background-color: inherit;
}

a:visited
{
    color: blue;
    background-color: inherit;
}

a:hover
{
    color: blue;
    background-color: inherit;
}

div.titleimage
{
}

span.path
{
    font-family: Courier New;
    color: #404080;
    font-size: 100%;
    font-weight: bold;
}

span.code
{
    font-family: Courier New;
    color: #404080;
    font-size: 100%;
    font-weight: bold;
}

span.sql
{
    font-family: Courier New;
    color: #0000ff;
    font-size: 100%;
    font-weight: bold;
}

span.class
{
    font-family: Courier New;
    color: #0000c0;
    font-size: 100%;
    font-weight: bold;
}

li
{
    /* font-weight: bold; */
    color: black;
}

span.keyword
{
    color: blue;
}

span.string
{
    color: #c00000;
}

span.operator
{
    color: #404040;
}

span.number
{
    color: #ff00ff;
}

span.type
{
    color: #008000;
    font-weight: bold;
}

span.xmlattribute
{
    color: #ff0000;
}

span.xmlattribtext
{
    color: #0000ff;
}

span.xmlbracket
{
    color: #0000ff;
}

span.xmlelement
{
    color: #800000;
}

span.xmlcomment
{
    color: #008000;
    font-style: italic;
}

td.titledesc
{
    font-family: Verdana;
    font-size: 12px;
    vertical-align: bottom;
    padding-bottom: 10px;
    padding-right: 10px;
}

img.thinborder
{
    border: 1px solid #404040;
}

td.header
{
    margin-bottom: 0px;
    height: 80px;
}

td.content
{
    font-family: Trebuchet MS, Arial, Helv;
    font-size: 10pt;
    padding: 20px;
    padding-right: 20px;
    width: 100%;
    text-align: left;
    background-color: white;
}

td.controls
{
    padding: 6px;
    width: 170px;
    background-color: #F2F7FC;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

code
{
    color: #000080;
}

.table table {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    font-size: 13px;
    background-color: white;
    width: 100%;
}

.table td {
    border: 1px solid #c0c0c0;
    margin: 0px;
}

.table th {
    border: 1px solid #c0c0c0;
    background-color: #efe8e8;
    margin: 0px;
}

.noborder table {
    font-size: 13px;
}

.noborder td {
    margin: 4px;
    padding: 4px;
}

.table tr.alternate
{
    background-color: #fff0f0;
}

div.summarytable
{
    font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
}

.summarytable table {
    font-size: 100%;
    width: 100%%;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid #e0e0c0;
}

.summarytable th {
    font-weight: bold;
    width: 25%;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 15px;
    text-align: left;
}

.summarytable td {
    padding: 1px;
    padding-right: 15px;
}

.summarytable td.section {
    border: 1px solid #999999;
    background-color: #f0f0e0;
    padding: 5px;
    font-weight: bold;
}

.summarytable tr.appender {
    background-color: #f8f8f8;
}

table.submenu
{
}

.benchmark-winner
{
    background-color: #ffffb0;
}

td.label
{
    font-weight: bold;
    vertical-align: top;
    font-size: 11px;
}

td.description
{
    vertical-align: top;
    font-size: 11px;
}

.missing
{
    color: red;
}

code.config
{
    background-color: white;
    display: block;
    border: 1px solid #e0e0e0;
    padding: 4px;
}

.acceptslayout
{
    font-family: Tahoma;
    font-size: 11px;
    background-color: yellow;
    border: 1px solid #e0e000;
    margin-right: 4px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: normal;
}

.acceptscondition
{
    font-family: Tahoma;
    font-size: 11px;
    background-color: yellow;
    border: 1px solid #e0e000;
    margin-right: 4px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: normal;
}

.required
{
    font-weight: bold;
    color: blue;
    text-decoration: none;
}

pre.example
{
    background-color: #f8f8f8;
    border: 1px solid #c0c0ff;
    color: black;
    padding: 4px;
    font-family: Consolas, Courier New, Courier;
    font-size: 9pt;
    white-space: -moz-pre-wrap;  /* Mozilla, supported since 1999 */
    white-space: -pre-wrap;      /* Opera 4 - 6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* CSS3 - Text module (Candidate Recommendation) */
    word-wrap: break-word;       /* IE 5.5+ */
    width: 710px;
}

pre.example code
{
    white-space: -moz-pre-wrap;  /* Mozilla, supported since 1999 */
    white-space: -pre-wrap;      /* Opera 4 - 6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* CSS3 - Text module (Candidate Recommendation) */
    word-wrap: break-word;       /* IE 5.5+ */
    font-family: Courier New;
    color: black;
}

.subexample
{
    padding-left: 50px;
}

.subremarks
{
    padding-left: 50px;
}

.propertyheader
{
    padding-top: 2px;
    padding-bottom: 2px;
    display: block;
}

.propertydetails
{
    display: block;
}

table.paramtable
{
    border-collapse: collapse;
    background-color: #ffffe0;
    width: 100%;
}

table.subparamtable
{
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #000000;
}

table.paramtable th
{
    color: black;
    border: 1px solid #b0b0b0;
    background-color: #ffff80;
    font-size: 14px;
}

table.subparamtable th
{
    color: black;
    border: 1px solid #b0b0b0;
    background-color: #ffff90;
    font-size: 12px;
}

td.parametername
{
    border: 1px solid #b0b0b0;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-size: 9pt;
}

td.parametertype
{
    border: 1px solid #b0b0b0;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-size: 9pt;
}

td.parametervalue
{
    border: 1px solid #b0b0b0;
    text-align: left;
    vertical-align: top;
    font-size: 9pt;
    white-space: -moz-pre-wrap;  /* Mozilla, supported since 1999 */
    white-space: -pre-wrap;      /* Opera 4 - 6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* CSS3 - Text module (Candidate Recommendation) */
    word-wrap: break-word;       /* IE 5.5+ */
}

td.parametervalue2
{
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-size: 9pt;
    white-space: -moz-pre-wrap;  /* Mozilla, supported since 1999 */
    white-space: -pre-wrap;      /* Opera 4 - 6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* CSS3 - Text module (Candidate Recommendation) */
    word-wrap: break-word;       /* IE 5.5+ */
}

td.subheader
{
    background-color: #ffffA0;
    border: 1px solid #b0b0b0;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
}

hr
{
    color: #0000ff;
    height: 1px;
}

table.listtable
{
    border-collapse: collapse;
    background-color: #ffffe0;
}

.listtable th
{
    color: black;
    border: 1px solid #b0b0b0;
    background-color: #ffff80;
    font-size: 14px;
    padding: 2px;
}

.listtable td
{
    border: 1px solid #b0b0b0;
    padding: 4px;
    text-align: center;
    vertical-align: center;
    font-size: 12px;
}

.listtable td.name
{
    border: 1px solid #b0b0b0;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
}

.listtable td.description
{
    border: 1px solid #b0b0b0;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
}

table.definedin
{
    font-size: 12px;
    border-collapse: collapse;
}

.definedin td
{
    margin: 0px;
    padding: 4px;
    border: 1px solid #c0c0c0;
}

#googleads
{
    position: absolute;
    top: 90px;
    right: 10px;
}

.underconstruction
{
    color: black;
    font-size: 12px;
    display: block;
    padding: 4px;
    background-color: #ffffc0;
    border: 1px solid #ffc0c0;
}

#googlesearch
{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.lastupdated
{
    margin-top: 4px;
    font-size: 10px;
    padding: 2px;
    border: 1px solid #c0c0c0;
    background-color: white;
    color: black;
}

.altreleasenote
{
    background-color: #e0e0ff;
}

.releasenote
{
    background-color: #c0c0ff;
}

img.out_link
{
    margin-left: 4px;
}

.plaincontent
{
    padding: 10px;
}

a.download
{
    width: 194px;
    height: 38px;
    background-image: url(/download_now.png);
}

.download span
{
    display: none;
}

@media print
{
    .controls
    {
        display: none;
    }
    #googlesearch
    {
        display: none;
    }
    #counterCode
    {
        display: none;
    }

    #menu
    {
        display: none;
    }

    #content
    {
	margin: 12pt;
	border: none;
    }

    #page
    {
        border: none;
        padding: 0;
        margin: 0;
        width: inherit;
    }

    pre.example
    {
        width: inherit;
    }
}

